.nav-bar {
  --_space: 0.8em;
  background-color: hsla(0deg 0% 18.43% / 40%);
  box-sizing: border-box;
  z-index: 10;
  position: relative;
  width: 100dvw;
  padding: 1em;
}

.nav-bar__container {
  display: flex;
  justify-content: end;
  gap: var(--_space);
  font-size: var(--step-0);
}

.nav-bar__item {
  color: var(--color-text-base);
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: var(--color-text-emphasis);
  }
}
.nav-bar__item--active {
  color: var(--color-text-emphasis);
}
