<div class="nav-bar">
  <div class="wrapper nav-bar__container">
    <a
      (click)="scrollToSection('home')"
      routerLinkActive="nav-bar__item--active"
      class="nav-bar__item"
      >Home</a
    >
    <a
      (click)="scrollToSection('proyects')"
      routerLinkActive="nav-bar__item--active"
      class="nav-bar__item"
      >Proyects</a
    >
    <a
      (click)="scrollToSection('contact')"
      routerLinkActive="nav-bar__item--active"
      class="nav-bar__item"
      >Contact</a
    >
  </div>
</div>
<!--

  <a *ngFor="let icon of contactIcons" [href]="icon.link">
    <div>
      <fa-icon [icon]="icon.icon" class=" "></fa-icon>
    </div>
    <span>{{ icon.text }}</span>
  </a>
</div>
-->
