<div class="grid grid-cols-2 gap-3 ">
  <div class="h-96">
    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
  <div class="h-96 overflow-y-auto">

    <ul class="divide-y divide-gray-200">
      <li *ngFor="let course of courses" class="py-2">
        <a href="{{ course.url }}" class="block hover:text-indigo-600">
          <div class="flex justify-between items-center">
            <div class="font-medium">{{ course.name }}</div>
            <div class="text-gray-500 text-sm">{{ course.date | date: "yyyy MMMM" }}</div>
          </div>
          <div class="flex justify-between items-center">
            <div class="mt-1 text-gray-500">{{ course.place }}</div>
            <div class="mt-1 flex">
              <ng-container *ngFor="let category of course.categories">
                <span
                  class="px-2 py-1 inline-flex text-xs leading-5 font-semibold me-2 rounded-full bg-green-100 text-green-800">
                  {{category}}
                </span>
              </ng-container>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
