$text-base: var(--color-text-base);
$text-emphasis: var(--color-text-emphasis);
$text-title: var(--color-text-title);

.profile {
  padding-block: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.profile__info {
  padding: 1em;
}

.profile__title {
  font-size: var(--step-5);
  font-weight: bold;
  color: $text-title;
}

.profile__summary {
  display: block;
  font-size: var(--step-1);
  padding-top: 1em;
}
.profile__role {
  font-size: var(--step-3);
  font-weight: bold;
  color: $text-emphasis;
}

.profile__skills {
  -webkit-mask-image: url("../../../../../assets/inkSplash.svg");
  mask-image: url("../../../../../assets/inkSplash.svg");
  -webkit-mask-size: max(510px, 60dvw) max(200px, 23dvh);
  mask-size: max(510px, 60dvw) max(200px, 23dvh);
  overflow: hidden;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  align-self: center;
  background-color: hsla(0, 0%, 0%, 34%);
  box-shadow: inset 0 0 30px 10px rgba(0, 0, 0, 0.6);
}

.skills-list {
  --_space: 2em;
  padding: var(--_space);
  gap: var(--_space);
  display: flex;
  width: max-content;
  list-style: none;
  animation: runSlider 20s linear infinite;
}

.skills-list__item {
  padding: 0.5em;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.812);
}
.skills-list__icon {
  --_size: var(--step-6);
  width: var(--_size);
  height: var(--_size);
  object-fit: contain;
}
.section {
  width: 100dvw;
  font-size: var(--step-1);
  padding-block: 1em;
}
.section--light {
  background-color: hsla(0, 100%, 100%, 50%);
  color: #171717;
}

.focus {
  text-shadow: 0 0 7px hsla(0, 100%, 100%, 0.5);
  &.focus--green {
    color: rgb(222 255 183);
  }
  &.focus--orange {
    color: rgb(255, 223, 183);
  }
}

@keyframes runSlider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% + var(--_space) / 2));
  }
}

@media (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
  }
  .profile__info {
    text-align: center;
  }
  .skills-list {
    justify-content: center;
  }
}
